*{
    padding: 0;
    margin: 0;
}
/* ---------------------------nav bar--------------- */
.nav {
    background-color: rgb(51, 51, 51);
    display: flex;
    justify-content: space-between;
    padding: 2px 10px;
}

h1 {
    text-align: start;
    color: rgb(249, 249, 249);
    display: flex;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.btn {
    background-color: lightblue;
    color: white;
    box-shadow: 5px 5px black;
}
/* ----------------------end nav bar-------------------- */
/* ----------------------user card-------------------- */
.info {
    margin-top: 50px;
    margin-left: 10px;
}

.info h1 {
    color: black;
}

.icon {
    height: 100px;
    position: relative;
    margin-top: 50px;
    padding-left: 20px;
}

.top {
    background-color: rgb(23, 162, 184);
    height: 100px;
}

.card {
    border: solid black;
    /* margin-left: 100px;
    margin-top: 30px; */
    height: 290px;
    /* width: 400px; */
}

.pin {
    height: 20px;
    margin-right: 10px;
}

.gear {
    height: 20px;
    margin-right: 10px;
}

.settings a {
    color: blue;
    text-decoration: underline;
}
/* ------------------------------end user card------------------------ */

.container{
    display: flex;
    padding: 20px;
    gap: 60px;
}

.user{
    height: 20px;
}


.col1{
    flex: 2
}

.tod{
    display: flex;
    justify-content: space-between;
}

.phil{
    display: flex;
    justify-content: space-between;
}

.edu{
    border: solid;
    
}


.col2{
    flex: 1;
}

.box1{
    border: solid black;
    margin-bottom: 10px;
}
.box2{
    border: solid black;
    margin-bottom: 10px;
}

.col2-head{
    margin-bottom: 10px;
}

.user-col2{
    height: 20px;
}

.name1{
    display: flex;
}

.todd {
    /* border: solid black; */
    display: flex;
    justify-content: space-between;
}

.phil {
    display: flex;
    justify-content: space-between;
}

.name-1{
    display: flex;
    gap: 5px;
    margin-top: 5px;
    margin-left: 5px;
}

.name-r{
    height: 20px;
    margin-top: 5px;
    margin-right: 5px;
}

.col2-head{
    border: solid black;
}

.conn{
    border-radius: 50%;
    background-color: white;
    border: solid;
}
